---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Introduction from "@components/Introduction.astro";
import NotFoundLayout from "@layouts/NotFoundLayout.astro";
---

<NotFoundLayout>
  <Header />
  <section class="grid grid-cols-1 pt-20 md:grid-cols-3">
    <Introduction />
    <div class="grid md:col-span-2">
      <div class="pt-10 md:ml-20 md:pt-0">
        <span
          class="text-gray-600 bg-indigo-200 p-2 rounded dark:bg-fuchsia-200 dark:text-gray-700"
          >404 - Not Found</span
        >
        <span class="block my-4 text-gray-500 dark:text-gray-400"
          >The content you were looking for was not found.</span
        >
      </div>
      <div class="md:ml-20">
        <a
          href="/"
          class="inline-block p-2 border text-gray-600 border-indigo-200 bg-white rounded hover:bg-gray-100 dark:bg-sky-200 dark:border-0 dark:text-gray-700 dark:hover:bg-sky-300"
          >Return to home {">"}</a
        >
      </div>
    </div>
  </section>
  <Footer />
</NotFoundLayout>
