---
import About from "./About.astro";
import Introduction from "./Introduction.astro";
import Timeline from "./Timeline.astro";
---

<section class="grid grid-cols-1 pt-20 md:grid-cols-3">
  <Introduction />
  <div class="grid md:col-span-2">
    <div class="pt-10 md:ml-20 md:pt-0">
      <About />
    </div>
    <div class="pt-10 md:ml-20">
      <a
        href="/projects"
        class="inline-block p-2 border text-gray-600 border-indigo-200 bg-white rounded hover:bg-gray-100 dark:bg-green-300 dark:border-0 dark:text-gray-900 dark:hover:bg-green-400"
        >My portfolio {">"}</a
      >
    </div>
    <div class="pt-10 md:ml-20">
      <Timeline />
    </div>
    <div class="pt-10 md:ml-20">
      <span
        class="text-gray-600 bg-indigo-200 p-2 rounded dark:bg-zinc-600 dark:text-gray-300"
        >I &#10084;</span
      >
      <span class="block mt-4 text-gray-500 dark:text-gray-400"
        >Dogs, bodybuilding, nature, anime (アニメ).</span
      >
    </div>
  </div>
</section>
