---
import { Image } from "@astrojs/image/components";

import profile from "../assets/profile.png";
---

<div>
  <span class="text-gray-600 bg-indigo-200 p-2 rounded">Bio</span>
  <h1 class="mt-4 mb-2 text-4xl text-gray-600">Mikko Jokipuu</h1>
  <span class="text-xl text-gray-500"
    >ICT engineering student at Turku University of Applied Sciences</span
  >
  <Image
    src={profile}
    width={110}
    height={110}
    alt="Photo of me"
    class="my-4 rounded-full border-2 border-indigo-200"
  />
</div>
