---
---

<ul class="relative mt-4">
  <li>
    <span class="flex items-center mb-1 text-lg text-gray-600">
      Turku University of Applied Sciences
    </span>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
      >Aug 2020 to present</time
    >
    <p class="text-base font-normal text-gray-500">
      Third year student in health technology.
    </p>
  </li>
  <li class="mt-6">
    <span class="flex items-center mb-1 text-lg text-gray-600">
      Kaita Finland Oy
    </span>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
      >Nov 2021 - Jul 2022</time
    >
    <p class="text-base font-normal text-gray-500">
      Worked for Kaita along with studies. Tasks were based on IBM AS/400
      architecture.
    </p>
  </li>
  <li class="mt-6">
    <span class="flex items-center mb-1 text-lg text-gray-600">
      Kaita Finland Oy
    </span>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
      >May 2021 - Jun 2021</time
    >
    <p class="text-base font-normal text-gray-500">
      Built an online store (eCommerce) from scratch with a company employee
      using WordPress + WooCommerce.
    </p>
  </li>
  <li class="mt-6">
    <span class="flex items-center mb-1 text-lg text-gray-600">
      Finnish Defence Forces
    </span>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
      >Jul 2019 - Jun 2020</time
    >
    <p class="text-base font-normal text-gray-500">
      Completed the NCO training. Returned with good leadership skills from
      military service.
    </p>
  </li>
  <li class="mt-6">
    <span class="flex items-center mb-1 text-lg text-gray-600">...</span>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
      >2017 - 2021</time
    >
    <p class="text-base font-normal text-gray-500">
      Education and work history from these years are listed on my resume.
    </p>
  </li>
  <li class="mt-6">
    <span class="flex items-center mb-1 text-lg text-gray-600">Birth</span>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
      >Apr 2000</time
    >
    <p class="text-base font-normal text-gray-500">
      Born in Turku (Kaarina), Finland.
    </p>
  </li>
</ul>
