---
---

<div>
  <span
    class="text-gray-600 bg-indigo-200 p-2 rounded dark:bg-fuchsia-200 dark:text-gray-700"
    >Timeline</span
  >
  <ul class="relative mt-4">
    <li>
      <span
        class="flex items-center mb-1 text-lg text-gray-600 dark:text-gray-100"
      >
        Turku University of Applied Sciences
      </span>
      <time
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-600"
        >Aug 2020 to present</time
      >
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Third year student in health technology.
      </p>
    </li>
    <li class="mt-6">
      <span
        class="flex items-center mb-1 text-lg text-gray-600 dark:text-gray-100"
      >
        Kaita Finland Oy
      </span>
      <time
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-600"
        >Nov 2021 - Jul 2022</time
      >
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Worked for Kaita along with studies. Tasks were based on IBM AS/400
        architecture.
      </p>
    </li>
    <li class="mt-6">
      <span
        class="flex items-center mb-1 text-lg text-gray-600 dark:text-gray-100"
      >
        Kaita Finland Oy
      </span>
      <time
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-600"
        >May 2021 - Jun 2021</time
      >
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Built an online store (eCommerce) from scratch with a company employee
        using WordPress + WooCommerce.
      </p>
    </li>
    <li class="mt-6">
      <span
        class="flex items-center mb-1 text-lg text-gray-600 dark:text-gray-100"
      >
        Finnish Defence Forces
      </span>
      <time
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-600"
        >Jul 2019 - Jun 2020</time
      >
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Completed the NCO training. Returned with good leadership skills from
        military service.
      </p>
    </li>
    <li class="mt-6">
      <span
        class="flex items-center mb-1 text-lg text-gray-600 dark:text-gray-100"
        >...</span
      >
      <time
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-600"
        >2017 - 2021</time
      >
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Education and work history from these years are listed on my resume.
      </p>
    </li>
    <li class="mt-6">
      <span
        class="flex items-center mb-1 text-lg text-gray-600 dark:text-gray-100"
        >Birth</span
      >
      <time
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-600"
        >Apr 2000</time
      >
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Born in Turku (Kaarina), Finland.
      </p>
    </li>
  </ul>
</div>
