---
import "@fontsource/quicksand";

import type { HeadMetaData } from "./MainLayout.astro";
import ThemeHead from "@components/ThemeHead.astro";

const { title = "404 | Mikko", description = "404 - Not Found" } =
  Astro.props as HeadMetaData;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ThemeHead />
  </head>
  <body
    class="bg-[#e5eefe] font-sans antialiased transition-colors duration-500 dark:bg-[#161616]"
  >
    <main>
      <section class="mx-auto max-w-4xl px-4">
        <slot />
      </section>
    </main>
  </body>
</html>
